@font-face {
  font-family: sourcesans-regular;
  src: url("../fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: sourcesans-bold;
  src: url("../fonts/SourceSansPro-Bold.ttf");
}


body{
  background: url("../imgs/bg.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}

.pagina .container{
  padding: 30px 40px;
  border-radius: 15px;
  background-color: transparent;
  
}

.bg-img01{
  position: absolute;
  right: 0px;
  top: 80px;
}
.bg-img02{
  position: absolute;
  right: 0px;
}

.bloco01{
  position: relative;
  width: 80%;
  margin-bottom: 100px;
  background-color: #fff;
  border-radius: 30px;
  padding: 1px 40px 10px 40px;
}
.bloco02{
  position: relative;
  width: 80%;
  background-color: #fff;
  border-radius: 30px;
  padding: 1px 40px 10px 40px;
  margin-bottom: 110px;
  margin-top: 90px;
}

.margem-botao{
  margin-top: 190px;
  margin-bottom: -90px;
  margin-left: 40px;
}
.grupo-imprimir button.bto-imprimir{
  z-index: 200;
}

.caixa-destaque, .caixa-destaque-livre{
  background-color: #91372D;
  color: #fff;
  margin: 50px auto;
}

li::marker {
  font-size: 2.0em;
  font-family: 'robotoregular', Arial, Verdana, Helvetica;
  margin-bottom: 2em;
  color: #2A8080;
  /* margin-left: 1.7em; */
}

.img-maior2 {
  width: auto !important;
}

h2, h3, h4 {
  color: #2A8080;
  font-family: 'robotoregular', Arial , Verdana, Helvetica !important;
  font-weight: bold;
}


/*--------- GAITINHA ---------*/
.panel {
  background-color: transparent;
  box-shadow: none;
}
.panel-default {
  border: none;
}
.panel-heading {
  background-color: #2A8080 !important;
  border-radius: 25px;
  padding: 15px 30px;
}
.panel-heading h3 {
  color: #fff !important;
  font-size: 20px;
}
.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
  border: none;
  border-left: #2A8080 solid 5px;
  margin-left: 30px;
  padding-right: 40px;
}
/*--------- /GAITINHA ---------*/

/*--------- SLIDESHOW ---------*/
.carousel {
  margin: 40px auto;
  background-color: #2A8080;
  border-radius: 30px;
  width: 680px;
  padding: 40px 0px;
}
.carousel-inner{
  margin: auto;
}
.carousel-inner img{
  margin: 0 auto;
  filter: none;
  width: 600px;
  height: 426px;
}
.carousel-inner p{
  margin-bottom: 0;
  color: #fff;
}
.carousel-control.left {
  background: url("../imgs/seta_voltar.png") no-repeat center;
  margin-left: -100px;
}
.carousel-control.left:hover {
  background: url("../imgs/seta_voltar_hover.png") no-repeat center;
}
.carousel-control.right {
  background: url("../imgs/seta_avancar.png") no-repeat center;
  margin-right: -100px;
}
.carousel-control.right:hover {
  background: url("../imgs/seta_avancar_hover.png") no-repeat center;
}

div.item div{
  width: 600px;
  height: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.slide-img01{background: url('../imgs/fig07.jpg');}
.slide-img02{background: url('../imgs/fig08.jpg');}
.slide-img03{background: url('../imgs/fig09.jpg');}
.slide-img04{background: url('../imgs/fig10.jpg');}
.slide-img05{background: url('../imgs/fig11.jpg');}
.slide-img06{background: url('../imgs/fig12.jpg');}
/*--------- /SLIDESHOW ---------*/

/*--------- PODCAST ---------*/
.div-podcast {
  margin: 50px auto;
  width: 380px;
}
.div-podcast audio {
  filter: drop-shadow(#565656 0px 0px 5px);
  position: relative;
}
.ico-transcricao {
  background: url('../../template/images/transcricao.png') no-repeat;
  background-size: 100%;
  border-radius: 100%;
  width: 57px;
  height: 57px;
  margin: 0px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  float: right;
}
.ico-transcricao:hover {
  transform: scale(1.06);
}
/*--------- /PODCAST ---------*/

/*--------- ABAS ---------*/
.painel-abas.caixa-destaque-livre{
  background-color: #2A8080;
}
.nav-tabs a{
  color: #fff;
}
.nav-tabs a:hover{
  color: #333;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: #333 !important;
}

h3.panel-title, .tab-content p{
  color: #fff !important;
}
/*--------- /ABAS ---------*/

/*-------- MODAIS --------*/
.modal-100 .modal-content{
  background: url('../imgs/bg_modal.png') no-repeat;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
}
.modal-100 .modal-body .container{
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
  padding: 0px 60px;
  border-radius: 20px;
}
.btn-fechar, .btn-default{
  width: 120px;
  height: 50px;
  background-color: #80392C;
  color: #fff;
  font-weight: bold;
}
.btn-fechar::before, .btn-default::before{
  content: 'Fechar';
}
.btn-fechar:hover, .btn-default:hover{
  background-color: #2A8080;
  color: #fff;
}
.btn-fechar{
  position: relative;
  margin: 40px auto;
  display: block;
}
.ico-fechar{padding-top: 25px;}
/*-------- /MODAIS --------*/

/*-------- CARDS --------*/
.flip-card {
  background-color: transparent;
  width: 280px;
  height: 413px;
  margin: 20px auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
/*-------- /CARDS --------*/

/*-------- TABELA --------*/
table.senac{
  border: #80392C solid 2px;
  margin-bottom: 0;
}
table.senac th{
  background-color: #ac372d;
}
table.senac td{
  background-color: #FFF;
  color: #80392C;
  border: #80392C solid 2px;
  vertical-align: top;
}
/*-------- /TABELA --------*/


.caixa-destaque{
  background-color: #80392C;
  color: #fff;
  margin: 50px auto;
}

.espera-video{
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 20px;
  color: #fff;
  width: 640px;
  height: 360px;
  box-shadow: #333 5px 5px 6px;
  background-color: #292929;
  margin: 40px auto;
  position: relative;
  z-index: 5;
}

.video-youtube {
  width: 640px;
  height: 360px;
  border-radius: 10px;
  margin: 40px auto;
  display: block;
}

.img-borda{
  margin-top: 40px;
  border-radius: 20px;
  filter: drop-shadow(#303030 4px 4px 6px);
}

.img-zoom{
  display: table;
  position: relative;
  margin: 0px auto;
  cursor: pointer;
}
.img-zoom::after{
  content: url('../imgs/lupa.png');
  display: block;
  width: 95px;
  height: 95px;
  right: 5px;
  bottom: 5px;
  position: absolute;
  filter: drop-shadow(#333 3px 3px 4px);
}


.painel-negociacoes{
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.painel-negociacoes button{
  width: 181px;
  height: 181px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  transition: all 0.2s;
}
.painel-negociacoes button:hover{
  transform: scale(1.05);
}
.btn-negociacao_distributiva{background: url('../imgs/bt_01.png') no-repeat;}
.btn-negociacao_integrativa{background: url('../imgs/bt_02.png') no-repeat;}
.btn-negociacao_cooperativa{background: url('../imgs/bt_03.png') no-repeat;}


/*-------- NOVOS CARDS --------*/
.novo-card .card{
  position: relative;
  max-width: 400px;
  margin: auto;
}
.novo-card .card .face {
  width: 400px;
  height: 200px;
  transition: 0.4s;
  cursor: pointer;
}
.novo-card .card .face.face1{
  position: relative;
  background: #2A8080;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transform: translateY(100px);
}
.novo-card .card:hover .face.face1{
  background: #2A8080;
  color: #fff;
  transform: translateY(0px);
}
.novo-card .card .face.face1 .content {
  opacity: 1;
  transition: 0.4s;
}
.novo-card .card:hover .face.face1 .content {
  opacity: 1;
}
.novo-card .card .face.face1 .content{
  max-width: 360px;
}
.novo-card .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  filter: drop-shadow(#333 3px 3px 5px);
  transform: translateY(-100px);
}
.novo-card .card:hover .face.face2{
  transform: translateY(0);
}
.novo-card .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  color: #414141;
  font-family: sourcesans-regular !important;
  font-size: 15px;
}

/*-------- /NOVOS CARDS --------*/


@media screen and (max-width: 820px) {
  .carousel-control.left {
    margin-left: 0px;
  }
  .carousel-control.right {
    margin-right: 0px;
  }

  .margem-botao{
    margin-top: 190px;
    margin-bottom: -90px;
    margin-left: 40px;
  }
  .bloco01, .bloco02{
    width: 100%;
    margin: 0px auto;
  }

  .bg-img01, .bg-img02{
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .video-youtube, .espera-video {
    width: 320px;
    height: 180px;
  }
  .caixa-destaque, .caixa-destaque-livre {
    width: 100%;
    padding: 10px;
  }
  .container{width: 100%;}
  .fundo-tecnicos {
    padding-left: 5%;
    padding-right: 5%;
  }
  .img-zoom::after {
    content: url(../imgs/lupa.png);
    display: block;
    width: 95px;
    height: 95px;
    right: 0px;
    bottom: -10px;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
    scale: 0.6;
  }

  .painel-elementos_chave{
    transform: scale(0.9);
    margin-left: -30px;
  }
}
