@font-face {
  font-family: sourcesans-regular;
  src: url("../fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: sourcesans-bold;
  src: url("../fonts/SourceSansPro-Bold.ttf");
}
@font-face {
  font-family: InclusiveSans;
  src: url("../fonts/InclusiveSans-Regular.ttf");
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

html {
  scroll-behavior: smooth;
}

body{
  background: url("../imgs/bg.jpg") repeat;
  background-position: top center;
  background-color: #e8f2f3;
}

.pagina .container{
  padding: 30px 40px;
  border-radius: 15px;
  background-color: transparent;
}

.margem-botao{
  margin-top: 140px;
  margin-bottom: -60px;
}
.grupo-imprimir button.bto-imprimir{
  z-index: 200;
}

.caixa-destaque, .caixa-destaque-livre{
  background-color: #91372D;
  color: #fff;
  margin: 50px auto;
}

li::marker {
  font-size: 1.8em;
  font-family: 'robotoregular', Arial, Verdana, Helvetica;
  margin-bottom: 2em;
  color: #2A8080;
  /* margin-left: 1.7em; */
}

.img-maior2 {
  width: auto !important;
}

h2, h3, h4 {
  color: #2A8080;
  font-family: 'robotoregular', Arial , Verdana, Helvetica !important;
  font-weight: bold;
}


/*--------- GAITINHA ---------*/
.panel {
  background-color: transparent;
  box-shadow: none;
}
.panel-default {
  border: none;
}
.panel-heading {
  background-color: #2A8080 !important;
  border-radius: 25px;
  padding: 15px 30px;
}
.panel-heading h3 {
  color: #fff !important;
  font-size: 20px;
}
.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
  border: none;
  border-left: #2A8080 solid 5px;
  margin-left: 30px;
  padding-right: 40px;
}
/*--------- /GAITINHA ---------*/

/*--------- SLIDESHOW ---------*/
.carousel {
  margin: 40px auto;
  background-color: #2A8080;
  border-radius: 30px;
  width: 680px;
  padding: 40px 0px;
}
.carousel-inner{
  margin: auto;
}
.carousel-inner img{
  margin: 0 auto;
  filter: none;
  width: 600px;
  height: 426px;
}
.carousel-inner p{
  margin-bottom: 0;
  color: #fff;
}
.carousel-control.left {
  background: url("../imgs/seta_voltar.png") no-repeat center;
  margin-left: -100px;
}
.carousel-control.left:hover {
  background: url("../imgs/seta_voltar_hover.png") no-repeat center;
}
.carousel-control.right {
  background: url("../imgs/seta_avancar.png") no-repeat center;
  margin-right: -100px;
}
.carousel-control.right:hover {
  background: url("../imgs/seta_avancar_hover.png") no-repeat center;
}

div.item div{
  width: 600px;
  height: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.slide-img01{background: url('../imgs/fig07.jpg');}
.slide-img02{background: url('../imgs/fig08.jpg');}
.slide-img03{background: url('../imgs/fig09.jpg');}
.slide-img04{background: url('../imgs/fig10.jpg');}
.slide-img05{background: url('../imgs/fig11.jpg');}
.slide-img06{background: url('../imgs/fig12.jpg');}
/*--------- /SLIDESHOW ---------*/

/*--------- PODCAST ---------*/
.div-podcast {
  margin: 50px auto;
  width: 380px;
}
.div-podcast audio {
  filter: drop-shadow(#565656 0px 0px 5px);
  position: relative;
}
.ico-transcricao {
  background: url('../../template/images/transcricao.png') no-repeat;
  background-size: 100%;
  border-radius: 100%;
  width: 57px;
  height: 57px;
  margin: 0px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  float: right;
}
.ico-transcricao:hover {
  transform: scale(1.06);
}
/*--------- /PODCAST ---------*/

/*-------- MODAIS --------*/
.modal-100 .modal-content{
  background: url('../imgs/bg_modal.png') no-repeat;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
}
.modal-100 .modal-body .container{
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
  padding: 0px 60px;
  border-radius: 20px;
}
.modal-header h4, .modal-header button{
  color: #fff;
  opacity: 1;
  text-shadow: none;
}
.btn-fechar, .btn-default{
  width: 120px;
  height: 50px;
  background-color: #80392C;
  color: #fff;
  font-weight: bold;
}
.btn-fechar::before, .btn-default::before{
  content: 'Fechar';
}
.btn-fechar:hover, .btn-default:hover{
  background-color: #2A8080;
  color: #fff;
}
.btn-fechar{
  position: relative;
  margin: 40px auto;
  display: block;
}
.ico-fechar{padding-top: 25px;}
/*-------- /MODAIS --------*/

/*-------- CARDS --------*/
.flip-card {
  background-color: transparent;
  width: 280px;
  height: 413px;
  margin: 20px auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
/*-------- /CARDS --------*/

/*-------- TABELA --------*/
table.senac{
  border: #80392C solid 2px;
  margin-bottom: 0;
}
table.senac th{
  background-color: #ac372d;
}
table.senac td{
  background-color: #FFF;
  color: #80392C;
  border: #80392C solid 2px;
  vertical-align: top;
}
/*-------- /TABELA --------*/


.caixa-destaque{
  background-color: #80392C;
  margin: 50px auto;
}
.caixa-destaque p{
  color: #fff !important;
}

.espera-video{
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 20px;
  color: #fff;
  width: 640px;
  height: 360px;
  box-shadow: #333 5px 5px 6px;
  background-color: #292929;
  margin: 40px auto;
  position: relative;
  z-index: 5;
}

.video-youtube {
  width: 640px;
  height: 360px;
  border-radius: 10px;
  margin: 40px auto;
  display: block;
}

.img-borda{
  margin-top: 40px;
  border-radius: 20px;
  filter: drop-shadow(#303030 4px 4px 6px);
}

.img-zoom{
  display: table;
  position: relative;
  margin: 0px auto;
  cursor: pointer;
}
.img-zoom::after{
  content: url('../imgs/lupa.png');
  display: block;
  width: 95px;
  height: 95px;
  right: 5px;
  bottom: 5px;
  position: absolute;
  filter: drop-shadow(#333 3px 3px 4px);
}

.citacao{
  padding-left: 30%;
  font-size: 15px;
}


/*--------- PAINEL IPAD ---------*/
.container.painel-ipad{
  border: #212121 solid 20px;
  border-top-width: 30px;
  border-bottom-width: 30px;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
  margin: 40px auto;
}
.barra-notificacao{
  height: 25px;
  width: 100%;
  left: 0;
  top: 2px;
  position: absolute;
  color: #333;
}
#data-hora{
  font-family: Montserrat-SemiBold;
  font-size: 12px;
  color: #333;
  margin-left: 8px;
  width: 49%;
  display: inline-block;
}
.sinal-bateria{
  font-family: Montserrat-SemiBold;
  font-size: 12px;
  text-align: right;
  color: #333;
  width: 49%;
  display: inline-block;
}
#nivel-bateria{
  margin-left: 4px;
}
#carga-bateria{
  width: 22px;
  font-size: 20px;
}
#carga-bateria::before{
  position: absolute;
  bottom: 3px;
  right: 8px;
}

.nav-tabs{
  width: 540px;
  text-align: center;
  margin: 10px auto 0px auto;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.icone-menu{
  background-color: #37c2c2;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;
  background-size: contain !important;
}
#ico-item1{background: url('../imgs/bt-menu1.png') no-repeat;}
#ico-item2{background: url('../imgs/bt-menu2.png') no-repeat;}
#ico-item3{background: url('../imgs/bt-menu3.png') no-repeat;}
#ico-item4{background: url('../imgs/bt-menu4.png') no-repeat;}

.nav-tabs i{
  font-size: 30px;
  color: #fff;
}

.nav-tabs a:hover{
  color: #222 !important;
}
.nav-tabs>li>a{
  color: #222;
  text-align: center;
  font-size: 14px;
  border: none;
}
.nav-tabs>li>a:hover{
  background: none !important;
}
.nav-tabs>li{
  width: 130px;
  float: unset;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.nav-tabs>li:hover{
  background: none !important;
  border: none;
  transform: scale(1.08);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: #333 !important;
  border: none !important;
  background: none !important;
  cursor: pointer;
}

.tab-content p{
  color: #333;
}
/*--------- /PAINEL IPAD ---------*/


.painel-redes{
  text-align: center;
  margin: 20px auto;
  width: 500px;
}
.painel-redes button{
  width: 80px;
  height: 80px;
  margin: 15px;
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
  filter: drop-shadow(#a0a0a0 5px 5px 10px);
  background-size: cover;
}
.painel-redes button:hover{
  transform: scale(1.02);
  filter: drop-shadow(#686868 8px 8px 10px);
}
.btn-facebook{background: url('../imgs/icone-facebook.png') no-repeat center;}
.btn-instagram{background: url('../imgs/icone-instagram.png') no-repeat center;}
.btn-x{background: url('../imgs/icone-x.png') no-repeat center;}
.btn-pinterest{background: url('../imgs/icone-pinterest.png') no-repeat center;}
.btn-tiktok{background: url('../imgs/icone-tiktok.png') no-repeat center;}
.btn-youtube{background: url('../imgs/icone-youtube.png') no-repeat center;}
.btn-snapchat{background: url('../imgs/icone-snapchat.png') no-repeat center;}
.btn-whatsapp{background: url('../imgs/icone-whatsapp.png') no-repeat center;}


.painel-pastas{
  text-align: center;
  margin: 20px auto;
  position: relative;
}
.painel-pastas button{
  width: 200px;
  height: 60px;
  margin: 15px;
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
  filter: drop-shadow(#a0a0a0 5px 5px 10px);
  background-size: cover;
}
.painel-pastas button:hover{
  transform: scale(1.02);
  filter: drop-shadow(#686868 8px 8px 10px);
}

.painel-metodos{
  text-align: center;
  margin: 20px auto;
  position: relative;
}
.painel-metodos button{
  width: 220px;
  height: 100px;
  margin: 15px;
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
  filter: drop-shadow(#a0a0a0 5px 5px 10px);
  background-size: cover;
  background-color: #2A8080;
  color: #fff;
  font-size: 18px;
  padding: 20px;
}
.painel-metodos button:hover{
  transform: scale(1.02);
  filter: drop-shadow(#686868 8px 8px 10px);
}

@media screen and (max-width: 820px) {
  .carousel-control.left {
    margin-left: 0px;
  }
  .carousel-control.right {
    margin-right: 0px;
  }


}

@media screen and (max-width: 480px) {
  .video-youtube, .espera-video {
    width: 320px;
    height: 180px;
  }
  .caixa-destaque, .caixa-destaque-livre {
    width: 100%;
    padding: 10px;
  }
  .container{width: 100%;}
  .fundo-tecnicos {
    padding-left: 5%;
    padding-right: 5%;
  }
  .img-zoom::after {
    content: url(../imgs/lupa.png);
    display: block;
    width: 95px;
    height: 95px;
    right: 0px;
    bottom: -10px;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
    scale: 0.6;
  }

  .citacao{
    padding-left: 20%;
  }

  .painel-redes{
    width: 100%;
  }
}
